@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply text-white;
}

.w-color-swatch {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}